/*
    Custom CSS file.
    Class list:
    App body: app-body
    Tabs container: .tabs-app
        Tabs: .tab
            Accounts: .tab-accounts
            Send: .tab-send
            Tools: .tab-tools
            Personalize: .tab-personalize
        Accounts: .accounts-container
            Your aliases text: .accounts-your-aliases-text
            Aliases (boxes):
                Container: .alias-box
                Image: .alias-img
                Text column: .text-col
                    Alias name: .alias-name
                    Alias balance: .alias-balance
                    Alias address: .alias-address
            Assets list: .assets-table-container
                Title: .assets-table-title
                    Selected alias/address: .assets-table-title-selected
                Table container: .assets-table
                    Table: .assets-table
            Assets transactions: .assets-transaction-container
                Title: .assets-transaction-title
                    Selected alias/address: .assets-transaction-title-selected
                Table container: .assets-transaction-table-container
                    Table: .assets-transaction-table
        Send: .send-container
            Send asset: .send-container
                Form: .send-asset-form-container
                    Title: .send-asset-form-title
                    Inputs:
                        Send from select: .send-asset-form-control send-asset-form-type-from
                        From address: .send-asset-form-control .send-asset-form-from-address
                        Asset ID: .send-asset-form-control .send-asset-form-asset-id
                        To address: .send-asset-form-control .send-asset-form-to-address
                        Amount: .send-asset-form-control .send-asset-form-asset
                    Buttons: .send-asset-form-btn-container
                        Send: .send-asset-form-btn-send
            Send SYS: .send-sys-container
                Form: .send-sys-form
                    Title: .send-sys-form-title
                    Balance: .send-sys-form-balance
                        Number: .send-sys-form-balance-number
                    Inputs:
                        To address: .send-sys-form-control .send-sys-form-to-address
                        Amount: .send-sys-form-control .send-sys-form-amount
                        Comment: .send-sys-form-control .send-sys-form-comment
                    Buttons: .send-asset-form-btn-container
                        Send: .send-sys-form-btn-send
        Tools: .tools-container
            Create alias: .create-alias-container
                Title: .create-alias-title
                Unfinished aliases: .create-alias-unfinished-aliases
                    ul tag: .create-alias-unfinished-aliases-ul
                        Text: .create-alias-unfinished-aliases-text
                        li tags: .create-alias-unfinished-aliases-li
                Inputs:.create-alias-form-container
                    New alias name: .create-alias-control create-alias-form-name
                    Public value: .create-alias-control .create-alias-form-public-value
                    Accept Transfer Flag: .create-alias-control .create-alias-form-transferflag
                    Expire timestamp: .create-alias-control .create-alias-form-timestamp
                    Address: .create-alias-control .create-alias-form-address
                    Encryption Private Key: .create-alias-control .create-alias-form-privkey
                    Encryption Public Key: .create-alias-control .create-alias-form-pubkey
                    Witness: .create-alias-control .create-alias-form-witness
                    Buttons: .create-alias-form-btn-container
                        Send: .create-alias-form-btn-send
            Backup Wallet: .backup-wallet-container
                Title: .backup-wallet-title
                Button: .backup-wallet-btn
            Import Wallet: .import-wallet-container
                Title: .import-wallet-title
                Button: .import-wallet-btn
            Get Private Key: .get-priv-key-container
                Title: .get-priv-key-title
                Button: .get-priv-key-btn
        Personalize: .personalize-container
            Edit alias: .edit-alias-container
                Title: .edit-alias-title
                Form: .edit-alias-form-container
                    Inputs:
                        Alias: .edit-alias-form-control .edit-alias-form-alias
                        Editing alias text: .edit-alias-form-active-alias
                        Public Value: .edit-alias-form-control .edit-alias-form-publicvalue
                        Accept Transfer Flag: .edit-alias-form-control .edit-alias-form-transferflag
                        Expire timestamp: .edit-alias-form-control .edit-alias-form-timestamp
                        Address: .edit-alias-form-control .edit-alias-form-address
                        Encryption Private Key: .edit-alias-form-control .edit-alias-form-privkey
                        Encryption Public Key: .edit-alias-form-control .edit-alias-form-pubkey
                        Witness: .edit-alias-form-control .edit-alias-form-witness
                        Buttons: .edit-alias-form-btn-container
                            Send: .edit-alias-form-btn-send





        General:
            Separator: .separator-container
                hr: .separator
            
                
*/