.edit-alias-container {
    padding: 30px 0;
}

.edit-alias-container .edit-alias-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.edit-alias-container .edit-alias-form-control.edit-alias-form-alias {
    width: 100%;
}

.edit-alias-container .edit-alias-form-control.edit-alias-form-transferflag {
    width: 100%;
}

.edit-alias-container .edit-alias-form-active-alias {
    color: #ddd;
}

.edit-alias-container .edit-alias-form-active-alias .editing-alias {
    color: rgb(139, 192, 253);
}

.edit-alias-container .edit-alias-form-btn-container {
    text-align: right;
}