@import './Accounts/styles.css';
@import './Personalize/styles.css';
@import './Send/styles.css';
@import './Tools/styles.css';


/* Window Controls */

.window-controls {
    padding-top: 5px;
    padding-right: 10px;
}

.window-controls .close,
.window-controls .minimize {
    color: #ddd;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
    transition: color 0.3s;
}

.window-controls .minimize:hover {
    color: rgb(127, 178, 236);
}

.window-controls .close:hover {
    color: #faa;
}


/* Tabs style */

.ant-tabs-nav-container {
    padding-left: 10px;
}

.ant-tabs-bar {
    position: relative;
    z-index: 9999;
    background: #2a2b2c;
    box-shadow: 0 -2px 15px #000;
    border: 0;
    margin: 0;
}   

.ant-tabs-tab { 
    color: #ccc;
    width: 50%;
    text-align: center;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: #ddd;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #fff;
    font-weight: bold;
    background: #3b3c3d;
}

.ant-tabs-ink-bar {
    background: rgb(127, 178, 236);
}

.ant-tabs-tab-prev, .ant-tabs-tab-next {
    display: none;
}