@import "Accounts/styles.css";
@import "Send/styles.css";
@import "Tools/styles.css";

.ant-tabs {
    color: black;
}

.ant-tabs-tab {
    color: #555;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: black;
}