@import "Accounts/styles.css";
@import "Send/styles.css";
@import "Tools/styles.css";

.ant-tabs {
    color: white;
}

.ant-tabs-tab {
    color: #ccc;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #fff;
}