@import "~fw/css/variables.scss";

.send-forms-container {
    overflow: scroll;
    height: 100%;
    padding-bottom: 50px;
    padding-top: 25px;

    .asset-form-asset-balance {
        & > p {
            text-align: right;
            color: $main_white;
            line-height: 0.8;
            margin-bottom: 13px;
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
}

.ant-collapse {
    background: transparent;
    border: 0 !important;

    .ant-collapse-item {
        border: 0;
    }

    & > div {
        background: transparent;

        & > div {
            background: transparent;
        }
    }

    .ant-collapse-header {
        padding: 0 !important;

        & > i.arrow {
            display: none !important;
        }
    }

    .send-collapse-panel {
        border: 0 !important;
        margin-bottom: 25px;

        .ant-collapse-content {
            border: 0 !important;
        }
    }

    .ant-collapse-content {
        border: 0;
    }

    .send-asset-form-title {
        color: $main_white;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 1px solid $main_white;
        padding-bottom: 10px;

        .send-form-title-row {
            float: right;
            position: absolute;
            top: 10px;
            right: 5px;
            font-size: 15px;
        }
    }
}

.send-star-icon {
    position: relative;
    bottom: 0.5px;
    font-size: 12px;
    color: $main_blue;
}

.send-forms-container .send-collapse-panel {
    background: transparent;
}

.send-forms-container::-webkit-scrollbar {
    width: 0.8em;
}
 
.send-forms-container::-webkit-scrollbar-thumb {
    background-color: $accounts_background;
    margin-top: 5px;
    outline: 1px solid slategrey;
    border-radius: 30px;
}

.send-forms-container::-webkit-scrollbar-button:vertical:decrement {
    height: 4px;
}
.send-forms-container::-webkit-scrollbar-button:vertical:increment {
    height: 4px;
}

.send-forms-container .send-loading {
    margin-right: 20px;
    color: $main_blue;
}

.send-forms-container .assets-from-alias-loader {
    color: $main_blue;
    position: absolute;
    right: -15px;
    top: 105px;
}

.send-asset-container .send-asset-form-control.send-asset-form-type-from,
.send-asset-container .send-asset-form-control.send-asset-form-select-alias,
.send-asset-container .send-asset-form-control.send-asset-form-asset-id,
.send-asset-container .send-asset-form-control.send-asset-form-select-asset {
    width: 100%;
    display: block;
}

.send-asset-form-btn-container {
    text-align: right;
}

.send-asset-form-container h3,
.send-asset-form-container input,
.send-asset-form-container button {
    margin-bottom: 10px;
}

.send-sys-form-container h3,
.send-sys-form-container input,
.send-sys-form-container button {
    margin-bottom: 10px;
}

.send-asset-form-container,
.send-sys-container {
    text-align: center;
}

.send-sys-container .send-sys-form-title {
    color: $main_white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.send-sys-container .send-sys-form-balance {
    color: $main_white;
}

.send-sys-container .send-sys-form-balance .send-sys-form-balance-number {
    color: $main_blue;
}