.console-container {
  .console-results {
    margin: 13px 0;
    height: 500px;
    border: 2px solid $main_white;
    color: #333;
    background: #888;
    overflow-y: scroll;

    .console-line-container {
      padding: 10px 20px;
      word-wrap: break-word;
      font-size: 13px;
      border-bottom: 1px solid $main_white;

      &.error-line {
        background-color: rgb(255, 166, 166);
        
        &:hover {
          background-color: rgb(255, 134, 134);
        }
      }

      &:hover {
        background: #777;
        color: black; 
      }
    }
  }
}
